
$bc-color: #DDD;
$bc-background: #777;
$bc-border-color: #888;
$bc-hover-color: #FFF;
$bc-hover-background: #AAA;
$bc-hover-border-color: #000;

.breadcrumbs > span {
    display: inline-block;
    padding: 1px 6px 2px;
}

.breadcrumbs a {
    position: relative;
    display: inline-block;
    margin-right: -6px;
    padding: 1px 6px 2px 18px;
    color: $bc-color;
    border: 1px solid $bc-border-color;
    background: $bc-background;
    text-decoration: none;

    &:visited {
        color: $bc-color;
    }

    &:hover {
        text-decoration: none;
        color: $bc-hover-color;
        background: $bc-hover-background;
    }

    &:first-child {
        padding-left: 10px;
        border-radius: 3px 0 0 3px;
    }

    &:nth-last-child(2) {
        margin-right: 7px;
    }

    &:not(:last-child):after {
        content: " ";
        z-index: 3;
        display: block;
        width: 0;
        height: 0;
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent;
        position: absolute;
        top: 50%;
        margin-top: -14px;
        left: 100%;
    }

    &:not(:last-child):before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        margin-left: 1px;
        left: 100%;
        z-index: 3;
    }

    &:not(:last-child):after {
        border-left: 10px solid $bc-background;
    }
    &:not(:last-child):before {
        border-left: 10px solid $bc-border-color;
    }
    &:hover:not(:last-child):after {
        border-left: 10px solid $bc-hover-background;
    }
    &:hover:not(:last-child):before {
        // border-left: 10px solid $bc-hover-border-color;
    }
}
