---
layout: default
---

<header class="site-header">
    <div class="site-content">
        <h1 class="site-title">{{ site.title }}</h1>
        {% if page.breadcrumbs %}
            <nav class="breadcrumbs">
                <a href="/" title="Головна сторінка">Головна</a>
                {% for bc in page.breadcrumbs %}
                    {% if page.url == bc.url %}
                        <span>{{ bc.title }}</span>
                    {% else %}
                        <a href="{{ bc.url }}">{{ bc.title }}</a>
                    {% endif %}
                {% endfor %}
            </nav>
        {% endif %}
    </div>
</header>

<article class="site-content page">
    {{ content }}
</article>
